{% extends "base.html" %}
{% block title %}
    {% if brand %}Editar
    {% else %}Adicionar
    {% endif %} Brand - SGE
{% endblock %}

{% block content %}
    <h1>
        {% if brand %}Editar
        {% else %}Adicionar
        {% endif %} Brand
    </h1>

    <form form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'brand_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
